<div class="container">
  <div class="row">
    <div class="col">
      <a href="./landscape"><h4>Landscape</h4></a>
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
    </div>
    <div class="col">
      <a href="/stillLife"><h4>StillLife</h4></a>
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
    </div>
    <div class="col">
      <a href="/abstract"><h4>Abstract</h4></a>
      <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
    </div>
