<div class="container-fluid gallery">
  <div class="row">
    <div class="col">
      <h2 class="page-title">Gallery</h2>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div>
        <a href="./landscape" class="gallery-links">
          <h4 class="gallery-word ">Landscape</h4>
        </a>
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div>
        <a href="/stillLife"  class="gallery-links">
          <h4  class='gallery-word' >StillLife</h4>
        </a>
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div>
        <a href="/abstract" class="gallery-links">
          <h4 class='gallery-word'>Abstract</h4>
        </a>
        <a href="https://placeholder.com"><img src="http://via.placeholder.com/300x300"></a>
      </div>
    </div>
