{{!< default}}

<div class="container-fluid  ">
	<div class="row landing-container">
		<div class="col-sm-6 large-landing-image">
			<a href="https://placeholder.com"><img class="img-fluid" src="http://via.placeholder.com/450x450"></a>
		</div>
		<div class="col-sm-6 medium-landing-image">
			<div class="row">
				<div class="col-sm-6 offset-sm-3">
					<a href="https://placeholder.com"><img class="img-fluid" src="http://via.placeholder.com/300x300"></a>
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<div class="col-sm-5 small-landing-image">
					<a href="https://placeholder.com"><img class="img-fluid" src="http://via.placeholder.com/200x200"></a>
				</div>
				<div class="col-sm-5 offset-sm-1 ">
					<a href="/gallery" class="landing-link">See More &#8605</a></a>
				</div>
			</div>
		</div>
	</div>
</div>
